.colorcito {
    background-color: rgba(59, 94, 160, 0.897);
    /* color: #000000; */
    /* padding: 20px 0; */
    /* width: 100vw; */
}

.texto{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 4rem;
    color: white;
}

@media (max-width: 991px) {
    .texto {
        justify-content: center;
        padding: 0
    }
}

@media (max-width: 600px) {
    .texto {
        font-size: 2rem;
    }
}

@media (max-width: 991px) {
    .img {
        display: none;
    }
}
