
button {
    width: 45%;
    height: 45px;
    background-color: rgba(59, 94, 160, 0.829);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: rgba(59, 94, 160, 1);
}
